
<ul>
	<%@projects.each do |project| %>
	<!-- link to specific entry from the project name chosen -->
	<li><%= link_to(project.name, project_entries_path(project))%></li>
	<% if project.descriptions.present? %>
		<%=project.descriptions%>
	<% end %>
	<%end%>
</ul>
